{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h2 class='bg-orange-500 text-xl text-center' >Simple Temp Home Page | layout</h2>
{% endblock %}
{% block paragraph %}
    <p class='bg-slate-300 p-5 text-black'>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. At laboriosam labore cum accusantium, asperiores nam? Recusandae distinctio aspernatur ratione, obcaecati illo cupiditate ullam, optio ipsa sunt, nisi corrupti architecto accusamus! ipsum dolor sit amet consectetur.</p>
!{% endblock %}